<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <style>
        .fieldError {
            border-color: #bd2130;
        }
        .fieldErrorFont {
            color: #c11f2e;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navi" :: navi></div>
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="w3layouts_breadcrumbs_left">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>/</span></li>
                <li><i class="fa fa-info-circle" aria-hidden="true"></i>Story</li>
            </ul>
        </div>
        <div class="w3layouts_breadcrumbs_right">
            <h2>Story</h2>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--container-->
<div class="container">
    <thead>
    <h3 class="display-4 font-weight-bold">게시글 상세보기</h3>
    </thead>
    <table class="table table-bordered" >

        <colgroup>
            <col width="7%">
            <col width="15%">
            <col width="7%">
            <col width="10%">
        </colgroup>
        <tr style='background-color:lightgray'>
            <td colspan='4' align='center'><strong><span class='essentialInput'></td>
        </tr>
        <tr>
            <th class='btn-secondary'>글 제목</th>
            <td th:text="${articleForm.title}"></td>
            <th class='btn-secondary'>조회수</th>
            <td th:text="${articleForm.count}"></td>
        </tr>
        <tr>
            <th>카테고리 분류</th>
            <td th:text="${articleForm.category}"></td>
            <th>작성일</th>
            <td th:text="${articleForm.createdDate}"></td>
        </tr>
        <tr>
            <th class='btn-secondary'>글쓴이</th>
            <td th:text="${articleForm.name}"></a></td>
            <th class='btn-secondary'>마지막 조회시간</th>
            <td th:text="${articleForm.modifiedDate}"></td>
        </tr>
        <tr>
            <th class='btn-secondary'>내용</th>
            <td colspan='3'><textarea class='form-control'  name="content" placeholder='내용을 입력하세요.' rows='20' cols='10' readonly th:text="${articleForm.content}"></textarea></td>
        </tr>
        <!--        <%&#45;&#45;        <tr  class="deleteTable">&#45;&#45;%>-->
        <!--        <%&#45;&#45;            <th class='btn-secondary'>첨부파일</th>&#45;&#45;%>-->
        <!--        <%&#45;&#45;            <td colspan="3"></td>&#45;&#45;%>-->
        <!--        <%&#45;&#45;        </tr>&#45;&#45;%>-->
        <!--        <tr  class="deleteTable">-->
        <!--            <th class='btn-secondary'>비밀번호</th>-->
        <!--            <td colspan='3'>${detail.pwd}</td>-->
        <!--        </tr>-->

        <tr>
            <td colspan="4">
                <!--                <input type="checkbox" data-toggle="toggle" data-size="lg" class="editMode" id="editMode" onchange="editMode()">-->
                <!--                <input type="button" value="글 삭제 " class="btn btn-default pull-right del" onclick="deleteEditData('del')"/>-->
                <!--                <input type="button" value="글 수정"  class="btn btn-default pull-right btn-primary edit"  onclick="deleteEditData('edit')"/>-->
                <!--                <input type="button" value="목록으로 " class="btn btn-default pull-right" onclick="javascript:location.href='<c:url value='/board/list${pageMaker.makeQueryPage(page)}'/>'"/>-->
                <input type="hidden" class="articleId" th:value="${articleForm.id}">
                <input type="hidden" class="password" th:value="${articleForm.password}">
                <button type="button" class="btn btn-default btn-block" onclick="listView();"><i class="fa fa-list"></i> 목록 보기</button>
                <button type="button" class="btn btn-danger btn-block"  onclick="deleteContent( $('.articleId').val(), $('.password').val() )"><i class="fa fa-trash"></i> 글 삭제</button>
                <button type="button" class="btn btn-primary btn-block" onclick="editContent( $('.articleId').val(), $('.password').val() )"><i class="fa fa-save"></i> 글 수정</button>
            </td>

        </tr>



        <input type="hidden" name="b_no">
        <input type="hidden" name="process" value="del">
    </table>
</div>
<!-- /container -->


<div th:replace="fragments/footer :: footer" />
<script>
    $(document).ready(function(){
        $(".news").addClass("active");

        // (".submit-save").bind("click", function(){
        //     location.href = "/board/write"
        // });
    });

    function listView(){
        location.href = "/board/list";
    }

    function deleteContent(articleId, pwd) {
        let inputPwd = window.prompt("글쓰기시 저장한 비밀번호를 입력해 주세요.");
        if(inputPwd !== pwd){
            alert("비밀번호가 일치하지 않습니다!!!");
            return;
        }
        if (confirm("정말 삭제 하시겠습니까?")==false) {
            return;
        }

        let form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/board/" + articleId + "/cancel");
        document.body.appendChild(form);
        form.submit();

        alert("글 삭제가 완료되었습니다.");
        // location.href = "/board/list";
    }

    function editContent(articleId, pwd) {
        let inputPwd = window.prompt("글쓰기시 저장한 비밀번호를 입력해 주세요.");
        if(inputPwd !== pwd){
            alert("비밀번호가 일치하지 않습니다!!!");
            return;
        }
        if (confirm("수정 화면으로 가시겠습니까?")==false) {
            return;
        }

        let form = document.createElement("form");
        form.setAttribute("method", "get");
        form.setAttribute("action", "/news-edit/" + articleId);
        document.body.appendChild(form);
        form.submit();
    }
</script>


</body>
</html>

