<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <style>
        .fieldError {
            border-color: #bd2130;
        }
        .fieldErrorFont {
            color: #c11f2e;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navi" :: navi></div>
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="w3layouts_breadcrumbs_left">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>/</span></li>
                <li><i class="fa fa-info-circle" aria-hidden="true"></i>News</li>
            </ul>
        </div>
        <div class="w3layouts_breadcrumbs_right">
            <h2>News</h2>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--container-->
<div class="container content-container" style="width: 700px;">
    <form role="form" th:object="${articleForm}" method="post">
        <h2 style="margin-top: 50px">새소식(news) 글쓰기</h2>
        <hr>
        <div class="form-group">
            <label th:for="name">작성자</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="작성자 이름을 입력하세요"
                   th:style="${#fields.hasErrors('name')}? 'border-color: red;' : ''">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="category">카테고리</label>
            <select th:field="*{category}" class="form-control categorySelect">
                <option value="">----------------- 카테고리를 선택해 주세요! -----------------</option>
                <option th:each="status : ${T(com.article.family.domain.ArticleCategory).values()}"
                        th:value="${status}"
                        th:text="${status}"
                        th:id="${status}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="글 제목을 입력하세요"
                   th:style="${#fields.hasErrors('title')}? 'border-color: red;' : ''">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <textarea th:field="*{content}" class="form-control col-sm-5" rows="12" placeholder="내용을 입력하세요"
                      th:style="${#fields.hasErrors('content')}? 'border-color: red;' : ''" />
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color: red">Incorrect date</p>

        </div>
        <hr/>
        <button type="button" class="btn btn-default btn-block"  onclick="listView();"><i class="fa fa-list"></i> 목록 보기</button>
        <button type="reset" class="btn btn-danger btn-block"><i class="fa fa-trash"></i> 초기화</button>
        <button type="submit" class="btn btn-primary btn-block submit-save" style="margin-bottom: 50px;"><i class="fa fa-save"></i> 수정 완료</button>
    </form>
    <br/>
</div> <!-- /container -->


<div th:replace="fragments/footer :: footer" />
<script>
    $(document).ready(function(){
        if(jQuery.browser.mobile == true) {
            $(".content-container").css('width', '100%');
        }

        $(".categorySelect").children().remove('#일상');
        $(".categorySelect").children().remove('#정보');
        $(".categorySelect").children().remove('#축하');

        $(".news").addClass("active");

        // (".submit-save").bind("click", function(){
        //     location.href = "/news/write"
        // });

        $(".listView").on(onclick, function(){
            location.href = "/news/list";
        });

    });

    function listView(){
        location.href = "/news/list";
    }
</script>


</body>
</html>

